<br />
<p-confirmDialog [style]="{width: '30vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-button (click)="showDialog()" label="Nueva tarjeta"></p-button>
<br />

<div class="card">
  <p-table [value]="creditCards" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">Tarjetas de Crédito</ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="brand">Marca <p-sortIcon field="brand"></p-sortIcon></th>
        <th pSortableColumn="last4Digits">Últimos 4 dígitos <p-sortIcon field="last4Digits"></p-sortIcon></th>
        <th pSortableColumn="cutOffDate">Día de corte <p-sortIcon field="cutOffDate"></p-sortIcon></th>
        <th pSortableColumn="expirationDate">Fecha de caducidad <p-sortIcon field="expirationDate"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-card>
      <tr>
        <td>{{card.name}}</td>
        <td>{{card.brand}}</td>
        <td>{{card.last4Digits}}</td>
        <td>{{card.cutOffDate}}</td>
        <td>{{card.expirationMonth}} / {{card.expirationYear}}</td>
        <td>
          <div class="flex flex-wrap gap-3 justify-content-center">
            <p-button (onClick)="showDialog(card)" icon="pi pi-pencil" styleClass="p-button-success"
              title="Editar"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Nueva tarjeta" [(visible)]="visible" [style]="{width: '30vw'}" [modal]="true" [draggable]="false">
  <form [formGroup]="formGroup">
    <div class="card flex flex-wrap gap-3 p-fluid">
      <div class="flex flex-column gap-2">
        <label for="name">Nombre</label>
        <input pInputText id="name" formControlName="name" />
        <label for="brand">Marca</label>
        <input pInputText id="brand" formControlName="brand" />
        <label for="last4Digits">Últimos 4 dígitos</label>
        <input pInputText id="last4Digits" formControlName="last4Digits" />
        <label for="cutOffDate">Día de corte</label>
        <p-inputNumber inputId="cutOffDate" formControlName="cutOffDate" [min]="1" [max]="31"> </p-inputNumber>
        <label for="expirationMonth">Mes de expiración</label>
        <p-inputNumber inputId="expirationMonth" formControlName="expirationMonth" [min]="1" [max]="12">
        </p-inputNumber>
        <label for="expirationYear">Año de expiración</label>
        <p-inputNumber inputId="expirationYear" formControlName="expirationYear" [min]="2023"> </p-inputNumber>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button (click)="saveCreditCard()" label="Guardar" [disabled]="!formGroup.valid"></p-button>
  </ng-template>

</p-dialog>