<br />
<p-confirmDialog [style]="{width: '30vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-button (click)="showDialog()" label="Nueva transacción"></p-button>
<br />
<p-scrollTop></p-scrollTop>

<div class="card">
  <p-table [value]="transactions" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">Transacciones</ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="creditCard.name">Tarjeta <p-sortIcon field="creditCard.name"></p-sortIcon></th>
        <th pSortableColumn="date">Fecha de Compra <p-sortIcon field="date"></p-sortIcon></th>
        <th pSortableColumn="amount">Monto Total <p-sortIcon field="amount"></p-sortIcon></th>
        <th pSortableColumn="quotas"># Cuotas <p-sortIcon field="quotas"></p-sortIcon></th>
        <th></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="description"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="creditCard.name" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="creditCards" (onChange)="filter($event.value)"
                placeholder="Seleccionar" [filter]="true" [showClear]="true" optionValue="name" optionLabel="name">
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="amount" display="menu" currency="USD"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="quotas" display="menu"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{transaction.description}}</td>
        <td>{{transaction.creditCard.name}}</td>
        <td>{{transaction.date | date}}</td>
        <td style="text-align: right;">{{transaction.amount | currency}}</td>
        <td style="text-align: right;">{{transaction.quotas}}</td>
        <td>
          <div class="flex flex-wrap gap-3 justify-content-center">
            <p-button (onClick)="showDialog(transaction)" icon="pi pi-pencil" styleClass="p-button-success"
              title="Editar"></p-button>
            <p-button (onClick)="deleteTransaction(transaction)" icon="pi pi-trash" styleClass="p-button-danger"
              title="Eliminar"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" style="text-align: center;">No hay registros</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="{{isEdit ? 'Editar' : 'Nueva'}} transacción" [(visible)]="visible" [style]="{width: '30vw'}"
  [modal]="true" [draggable]="false">
  <form [formGroup]="formGroup">
    <div class="card flex flex-wrap gap-3 p-fluid">
      <div class="flex flex-column gap-2">
        <label for="description">Descripción</label>
        <input pInputText id="description" formControlName="description" />
        <label for="creditCardId">Tarjeta</label>
        <p-dropdown [options]="creditCards" formControlName="creditCardId" placeholder="Seleccionar"
          inputId="creditCardId" [filter]="true" optionValue="id" optionLabel="name" appendTo="body"></p-dropdown>
        <label for="date">Fecha de Compra</label>
        <p-calendar inputId="date" formControlName="date" appendTo="body" [showIcon]="true" [readonlyInput]="true"
          [showButtonBar]="true"></p-calendar>
        <label for="amount">Monto Total</label>
        <p-inputNumber inputId="amount" formControlName="amount" [min]="0.01" mode="decimal" [maxFractionDigits]="2">
        </p-inputNumber>
        <label for="quotas">Número de cuotas</label>
        <p-inputNumber inputId="quotas" formControlName="quotas" [min]="1"> </p-inputNumber>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button (click)="saveTransaction()" label="Guardar" [disabled]="!formGroup.valid"></p-button>
  </ng-template>

</p-dialog>