<br />
<p-confirmDialog [style]="{width: '30vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-button (click)="showDialog()" label="Nueva transacción"></p-button>
<br />
<p-scrollTop></p-scrollTop>

<div class="card">
  <p-table [value]="transactions" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">Transacciones</ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="creditCard.id">Tarjeta <p-sortIcon field="creditCard.id"></p-sortIcon>
        </th>
        <th pSortableColumn="date">Fecha de Compra <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th pSortableColumn="amount">Monto Total <p-sortIcon field="amount"></p-sortIcon>
        </th>
        <th pSortableColumn="quotas"># Cuotas <p-sortIcon field="quotas"></p-sortIcon>
        </th>
        <th pSortableColumn="aproxMonthlyQuota">Cuota mensual <p-sortIcon field="aproxMonthlyQuota"></p-sortIcon>
        </th>
        <th></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="description"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="creditCard.id" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="creditCards" (onChange)="filter($event.value)"
                placeholder="Seleccionar" [filter]="true" [showClear]="true" optionValue="id">
                <ng-template let-card pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2">
                    <div> {{card.name}} ({{card.last4Digits}})</div>
                    <img src="assets/icons/{{card.brand}}.png" />
                  </div>
                </ng-template>
                <ng-template let-card pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div> {{card.name}} ({{card.last4Digits}})</div>
                    <img src="assets/icons/{{card.brand}}.png" />
                  </div>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="amount" display="menu" currency="USD"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="quotas" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="aproxMonthlyQuota" display="menu"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{transaction.description}}</td>
        <td>
          <div class="flex align-items-center gap-2">
            <div> {{transaction.creditCard.name}} ({{transaction.creditCard.last4Digits}})</div>
            <img src="assets/icons/{{transaction.creditCard.brand}}.png" />
          </div>
        </td>
        <td>{{transaction.date | date}} <p-badge *ngIf="transaction.graceMonths" value="+{{transaction.graceMonths}}"
            pTooltip="{{transaction.graceMonths}} meses de gracia"></p-badge></td>
        <td style="text-align: right;">{{transaction.amount | currency}}</td>
        <td style="text-align: right;">{{transaction.quotas}}</td>
        <td style="text-align: right;">{{transaction.aproxMonthlyQuota | currency}}</td>
        <td>
          <div class="flex flex-wrap gap-3 justify-content-center">
            <p-button (onClick)="showDialog(transaction)" icon="pi pi-pencil" styleClass="p-button-success"
              title="Editar"></p-button>
            <p-button (onClick)="deleteTransaction(transaction)" icon="pi pi-trash" styleClass="p-button-danger"
              title="Eliminar"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" style="text-align: center;">No hay registros</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="{{isEdit ? 'Editar' : 'Nueva'}} transacción" [(visible)]="visible" [style]="{width: '30vw'}"
  [modal]="true" [draggable]="false">
  <form [formGroup]="formGroup">
    <div class="card flex flex-wrap gap-3 p-fluid">
      <div class="flex flex-column gap-2">
        <label for="description">Descripción</label>
        <input pInputText id="description" formControlName="description" />
        <label for="creditCardId">Tarjeta</label>
        <p-dropdown [options]="creditCards" formControlName="creditCardId" placeholder="Seleccionar"
          inputId="creditCardId" [filter]="true" appendTo="body" optionValue="id">
          <ng-template let-card pTemplate="selectedItem">
            <div class="flex align-items-center gap-2">
              <div> {{card.name}} ({{card.last4Digits}})</div>
              <img src="assets/icons/{{card.brand}}.png" />
            </div>
          </ng-template>
          <ng-template let-card pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div> {{card.name}} ({{card.last4Digits}})</div>
              <img src="assets/icons/{{card.brand}}.png" />
            </div>
          </ng-template>
        </p-dropdown>

        <label for="date">Fecha de Compra</label>
        <p-calendar inputId="date" formControlName="date" appendTo="body" [showIcon]="true" [readonlyInput]="true"
          [showButtonBar]="true" [maxDate]="maxDate"></p-calendar>
        <label for="amount">Monto Total</label>
        <p-inputNumber inputId="amount" formControlName="amount" [min]="0.01" mode="decimal" [maxFractionDigits]="2">
        </p-inputNumber>

        <div class="flex flex-wrap gap-3">
          <div *ngFor="let type of transactionTypes" class="flex align-items-center">
            <p-radioButton [inputId]="type.key" [value]="type" formControlName="transactionType"></p-radioButton>
            <label [for]="type.key" class="ml-2">{{ type.name }}</label>
          </div>
        </div>

        <div class="flex align-items-center gap-1"
          *ngIf="formGroup.controls['transactionType'].value && formGroup.controls['transactionType'].value.key == 'C'">
          <p-checkbox formControlName="isRecurringPayment" [binary]="true" inputId="isRecurringPayment"></p-checkbox>
          <label for="isRecurringPayment">¿Es un pago recurrente?</label>
        </div>

        <ng-container *ngIf="formGroup.controls['isRecurringPayment'].value">
          <label for="date">Fecha de Finalización del pago recurrente (Opcional)</label>
          <p-calendar inputId="recurringPaymentEndDate" formControlName="recurringPaymentEndDate" appendTo="body"
            view="month" dateFormat="mm/yy" [showIcon]="true" [readonlyInput]="true"
            [showButtonBar]="true"></p-calendar>
        </ng-container>

        <ng-container
          *ngIf="formGroup.controls['transactionType'].value && formGroup.controls['transactionType'].value.key == 'D'">
          <label for="quotas">Número de cuotas</label>
          <p-inputNumber inputId="quotas" formControlName="quotas" [min]="2"> </p-inputNumber>
          <label for="graceMonths">Meses de gracia</label>
          <p-inputNumber inputId="graceMonths" formControlName="graceMonths" [min]="0"> </p-inputNumber>

          <div class="flex align-items-center gap-1">
            <p-checkbox formControlName="isCashAdvance" [binary]="true" inputId="isCashAdvance"></p-checkbox>
            <label for="isCashAdvance">¿Es un avance de efectivo?</label>
          </div>

          <ng-container *ngIf="formGroup.controls['isCashAdvance'].value">
            <label for="cashAdvanceFee">Tarifa del avance de efectivo</label>
            <p-inputNumber inputId="cashAdvanceFee" formControlName="cashAdvanceFee" [min]="0"> </p-inputNumber>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button (click)="saveTransaction()" label="Guardar" [disabled]="!formGroup.valid"></p-button>
  </ng-template>

</p-dialog>